<launch>
  <arg name="robotname" default="robot" /> <!--ここに入力引数を記述-->
  <arg name="y_pose" default="0.0" /> <!--ここに入力引数を記述-->

  <!--https://answers.gazebosim.org//question/16497/spawning-multiple-robots-each-with-a-controller-in-the-same-namespace-as-the-controller_manager/-->
  <group ns="/$(arg robotname)">
    <param name="tf_prefix" value="$(arg robotname)" />
    <param name="/$(arg robotname)/robot_description"
    command="$(find xacro)/xacro --inorder '$(find multi_legged_description)/robots/multi_legged_robot.urdf.xacro'" />

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="-y $(arg y_pose) -urdf -model $(arg robotname) -param robot_description"/>
  </group>
</launch>
